In [15]:
import urllib.request
import pandas as pd

In [16]:
url = "https://drive.google.com/uc?id=19G9QAuL2py_ucA3RixZ1QPTkEz_I5u3W&authuser=0&export=download" #importamos el dataframe desde la url
df=pd.read_csv(url, encoding="latin-1")#asignamos el dataframe a df
df.dropna(inplace=True) #les sacamos las filas en blanco y mantenemos los cambios
consignas = df #construimos el objeto a partir del df original
consignas["Year"] = consignas["Year"].astype(int) #por alguna razon los años los toma como float asi que lo pasamos a enteros

In [17]:
#Consigna 1: con el archivo brindado, construir un objeto de series de tiempo con el indioce igual al año de los juegos olimpicos

consignas["Year"] = pd.to_datetime(consignas["Year"], format="%Y")#construimos la serie de tiempo
consignas.set_index("Year")#y convertimos el año en el indice del dataframe

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
Year,,,,,,,,,,
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
1976-01-01,Montreal,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [18]:
#Consigna 2: Separar los nombres de apellidos en dos columnas distintas usando la coma como separador

nombre_apellido = consignas["Athlete"].str.split(", ")#separamos el nombre del apellido, usando como separador la coma
consignas["nombre"]=nombre_apellido.str[1]#creamos la columna nombre y le pasamos como dato el segundo split
consignas["apellido"]=nombre_apellido.str[0]#creamos la columna apellido y le pasamos como dato el primer split
consignas[["nombre", "apellido"]]#aqui traeremos solamente las columnas nombre y apellido que acabamos de crear y llenar

               nombre   apellido
0             Christa     KÖHLER
1           Aleksandr   KOSENKOV
2       Philip George      BOGGS
3      Giorgio Franco   CAGNOTTO
4      Deborah Keplar     WILSON
...               ...        ...
15428      Christophe     GUENOT
15429        Manuchar  KVIRKELIA
15430         Vitaliy    RAHIMOV
15431          Steeve     GUENOT
15432          Mijain      LOPEZ

[15316 rows x 2 columns]

In [19]:
#Consigna 3: Obtener medidas de resumen del conjunto de datos. Cuál es el país que ganó más medallas?
resumen_consignas=consignas.describe() #creamos el resumen del conjunto de datos
resumen_consignas.loc["top"]["Country"] #con esta linea veremos el país que más ganó medallas el cual es United States

C:\Users\Duskrieg\AppData\Local\Temp/ipykernel_8296/1136597552.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  resumen_consignas=consignas.describe() #creamos el resumen del conjunto de datos

'United States'

In [20]:
#Consigna 4: Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizo el evento.

medallasporhombres=consignas[consignas.Gender=="Men"] #aqui asignamos el filtro de "Men" a medallasporhombres
medallasporhombres.groupby(["Gender", "Year"]).size() #con esta linea procederemos a agrupar por el genero y el año, para ver cuantas medallas ganaron en ciertos años

Gender  Year
Men     1976-01-01     924
        1980-01-01     958
        1984-01-01     973
        1988-01-01    1011
        1992-01-01    1105
        1996-01-01    1082
        2000-01-01    1126
        2004-01-01    1099
        2008-01-01    1110
dtype: int64